{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">anunturi</h3>
  <div class="list-group">
    {% for anunturi in anunturis %}
      <a href="{{ path('anunturi_show', { 'id': anunturi.id }) }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ anunturi.titlu }}</h5>
          <small>{% if anunturi.creatla %}{{ anunturi.creatla|ago }}{% endif %}</small>
        </div>
        <p class="mb-1">{{ anunturi.continut }}</p>
        <small>{{ anunturi.ranking }}</small>
      </a>
    {% endfor %}
  </div>
  
{% endblock %}
