{% extends 'base.html.twig' %}

{% block title %}Adaugare note{% endblock %}

{% block body %}
  
  {{ form_start(form, {'method': 'post', 'action': path('adaugare-note'), 'attr': {'class': ''}}) }}
  
  <div id="adaugare-nota-wrapper" class="w-75 p-3 align-items-center justify-content-center h-10">
    <h1 class="form-title">Adaugare nota</h1>
    <div class="form-group row">
      {{ form_label(form.nota, 'Nota', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.nota) }}
      </div>
    </div>
    
    <div class="form-group row">
      {{ form_label(form.date, 'Data', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.date) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.materie, 'Materie', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.materie) }}
      </div>
    </div>
    
    <div class="form-group row">
      {{ form_label(form.student, 'Student', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.student) }}
      </div>
    </div>
    
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Adauga nota!</button>
    </div>
    
    {{ form_end(form) }}
  </div>

{% endblock %}
