{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Inregistrare studenti!{% endblock %}

{% block fos_user_content %}
  {% trans_default_domain 'FOSUserBundle' %}
  
  <div class="registration-wrapper w-50 p-3 align-items-center justify-content-center h-100">
    <h1 class="registration-title">Inregistrare studenti</h1>
    
    {{ form_start(form, {'method': 'post', 'action': path('student_registration'), 'attr': {'class': ''}}) }}
    
    <div class="form-group row">
      {{ form_label(form.nume, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.nume) }}
      </div>
    </div>
    
    <div class="form-group row">
      {{ form_label(form.prenume, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.prenume) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.serie, 'Serie', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.serie) }}
      </div>
    </div>
    
    <div class="form-group row">
      {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.email) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.plainPassword.first, 'Parola', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.plainPassword.first) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.plainPassword.second, 'Confirma parola', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.plainPassword.second) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.date_nastere, 'Data de nastere', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.date_nastere) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.adresa_domiciliu, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.adresa_domiciliu) }}
      </div>
    </div>
  
    <div class="form-group row">
      {{ form_label(form.cnp, 'CNP', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
      <div class="col-sm-9">
        {{ form_widget(form.cnp) }}
      </div>
    </div>
    
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Inregistreaza-te!</button>
    </div>
    {{ form_end(form) }}
  </div>
  
{% endblock fos_user_content %}